.projectCard{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    margin: 10px;
    max-width: 400px;
    height: 250px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    transition: .5s ease all;

    &:hover{
        transform: scale(1.05);
    }
    .cardTop{
        display: flex;
        max-height: 200px;
        img{
            width: 400px;
        
        }
    }
    .cardBottom{
        display: flex;
        padding: 10px;
        background-color: #f1e9db;
        .projectTitle{
            margin: 0px;
            color: black;
            font-size: 30px;
        }
    }
}